*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}


#background{
    height: 60rem;
    width: auto;
    background-image:url(bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#box1{
    position: absolute;
    height: 13rem;
    width: 18rem;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* #button{
    height:4rem;
    width: 20rem;
    margin-top: 48rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    background-color: #55ae01;
} */

#button{

height:4rem;
width:  12rem;
margin: 10px;
position: absolute;
padding: 15px 45px;
text-align: center;
text-transform: uppercase;
background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: flex;
justify-content: center;
align-items: center;
bottom:-10rem;
text-decoration: none;
font-weight: 700;
}

#button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         


#img{
    height: 11rem;
    width: 16rem;
    background-image: url(img.jpg);
    background-size:cover;
    border-radius: 1rem;
}