*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}


#background{
    height: 60rem;
    width: auto;
    background-image:url(/radoslav-bali-Bp2sWPJGPHs-unsplash\ \(1\).jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

#box1{
    position: absolute;
    height: 16rem;
    width: 23rem;
    margin-top: 4rem;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(16px) saturate(180%);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text{
    position:absolute;
    height: 24rem;
    width: 20rem;
    margin-top: 22rem;
    font-size:1.05rem;
    font-weight: bold;
    
}

#button{
    height:4rem;
    width: 20rem;
    margin-top: 48rem;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:1rem;
    background-color: #55ae01;
}

#img{
    height: 14rem;
    width: 21rem;
    background-image: url(/img.jpg);
    background-size:cover;
    border-radius: 1rem;
}