*{
  padding: 0px;
  margin: 0px;
  font-family: Helvetica, sans-serif;
}

#header{
  position: absolute;
  height: 4rem;
  width: 80%;
  border: 1px solid rgba(225, 255, 255, 0.1);
  background: rgba(225, 255, 255, 0.15);
  backdrop-filter: blur(15px) saturate(1);
  border-radius: 1rem;
  margin-top: 4rem;
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

#building{
  height: 50rem;
  width: 100%;
  background-image: url(building.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

#button{
  height: 2.5rem;
  width: 6rem;
  background-color: grey;
  color:white;
  border-radius: 0.5rem;
  border: none;
  
}

#discover{
  height: 16rem;
  width: 80%;
  background-color: rgba(225, 255, 255, 0.1);
  backdrop-filter: blur(16px) saturate(1);
  margin-top: 18rem;
  border-radius: 2rem;
  padding: 2rem;
  color: white;
}

#dis{
  margin-top: 6rem;
}